/* Global Styling here */
html {
  scroll-behavior: smooth;
}
.ponteiro {
  animation: rotate 1s cubic-bezier(0.73, 0.07, 0.57, 0.68) infinite both;
  transform-origin: 50% 55%;
}

.header-scroll {
  box-shadow: 0 10px 10px 0 rgba(9, 5, 29, 0.171);
  opacity: 0.84;
  backdrop-filter: blur(15px);
  transition: all 0.3s ease-out 0s;
}

.linkPort::before {
  content: "";
  transform-origin: 50% 100%;
  -webkit-transition: clip-path 0.3s,
    -webkit-transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
  transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
  -webkit-clip-path: polygon(
    0% 0%,
    0% 100%,
    0 100%,
    0 0,
    100% 0,
    100% 100%,
    0 100%,
    0 100%,
    100% 100%,
    100% 0%
  );
  clip-path: polygon(
    0% 0%,
    0% 100%,
    0 100%,
    0 0,
    100% 0,
    100% 100%,
    0 100%,
    0 100%,
    100% 100%,
    100% 0%
  );
  position: absolute;
  width: 100%;
  height: 1px;
  background: rgb(96, 226, 63);
  top: 30px;
  left: 0px;
  pointer-events: none;
}

.linkPort::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: #77dd77;
  top: 100%;
  left: 0px;
  pointer-events: none;
}

.links {
  position: relative;
}

.linkPort:hover::before,
.linkPort[data-hover]::before {
  -webkit-transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
  color: #fff;
  -moz-transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
  -ms-transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
  transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
  -webkit-clip-path: polygon(
    0% 0%,
    0% 100%,
    50% 100%,
    50% 0,
    50% 0,
    50% 100%,
    50% 100%,
    0 100%,
    100% 100%,
    100% 0%
  );
  clip-path: polygon(
    0% 0%,
    0% 100%,
    50% 100%,
    50% 0,
    50% 0,
    50% 100%,
    50% 100%,
    0 100%,
    100% 100%,
    100% 0%
  );
  background: #77dd77;
}

::-webkit-scrollbar-thumb {
  background: rgba(175, 175, 175, 0.959);
  border-radius: 12px;
}

::-webkit-scrollbar {
  width: 7px;
  height: 100px;
}

::-webkit-scrollbar-track {
  background: #242924;
}
